{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "grabpoint": "Ignore",
    "player": "Collide",
    "nocollide": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "grabpoint",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "grabpoint",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "grabpoint",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "grabpoint",
      "r": "Ignore"
    },
    {
      "a": "grabpoint",
      "b": "grabpoint",
      "r": "Ignore"
    },
    {
      "a": "grabpoint",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "nocollide",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "grabpoint",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "nocollide",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "nocollide",
      "r": "Ignore"
    }
  ],
  "__guid": "eab419c0-81b9-4e24-a8eb-91311a7c19d6",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}