{
  "Version": 2,
  "Mixers": {
    "Guid": "7574759c-343d-43e8-a4c1-70a7dfb4aa7e",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [
      {
        "Effect": "tunnel.medium",
        "Enabled": true,
        "Mix": 1,
        "__type": "DspProcessor"
      }
    ],
    "Children": [
      {
        "Guid": "9bde0b25-00b6-4a2c-a6d7-7d67a6fe1230",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "8f9ef22d-05ce-4e07-9a50-5b15847d69a3",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "148e08b6-4380-4d24-b719-c880946f58cb",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "3e8ba774-ae89-4219-9b10-7f42a0e7a8e8",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}